@import "styles";

.footer {
  @include text-small;
  display: flex;
  justify-content: center;
  padding-top: $unit-spacing;
  padding-bottom: $unit-spacing;
  list-style-type: none;
}

.footer > li + li::before {
  display: inline;
  padding-right: $unit-base;
  padding-left: $unit-base;
  content: "|";
}
