<h1>Privacy Policy</h1>

<ol>
  <li>
    <a href="https://gamestracker.co">Games Tracker</a> ("App") is operated by
    <a href="https://twitter.com/_bkzl">Bart Kozal</a> and
    <a href="https://twitter.com/_mac">Mac Kozal</a> ("We").
  </li>
  <li>We do not collect personal information.</li>
  <li>We use Google Analytics to collect anonymous traffic information and improve the app.</li>
  <li>The app uses cookies to store the authentication token.</li>
  <li>By using the app, you signify your acceptance of this policy. If you do not agree to this policy, please do not
    use the app.</li>
  <li>If you have any questions regarding privacy, please email <a href="mailto:bkzl@me.com">bkzl@me.com</a>.</li>
</ol>
