{
  "env": {
    "cypress/globals": true,
    "jest/globals": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:import/warnings",
    "plugin:flowtype/recommended"
  ],
  "parser": "babel-eslint",
  "plugins": ["cypress", "react", "import", "jest", "flowtype"]
}
