{
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jest": true,
    "cypress/globals": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:flowtype/recommended"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    },
    "sourceType": "module"
  },
  "plugins": ["react", "flowtype", "cypress"],
  "rules": {
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1,
        "ignoredNodes": ["TemplateLiteral > *"]
      }
    ],
    "linebreak-style": ["error", "unix"],
    "quotes": ["error", "double"],
    "semi": ["error", "always"],
    "no-console": "warn",
    "react/prop-types": "off",
    "flowtype/space-after-type-colon": [
      "error",
      "always",
      { "allowLineBreak": true }
    ]
  }
}
