@import "modern-normalize";
@import "./ui/styles/color.css";
@import "./ui/styles/cursor.css";
@import "./ui/styles/icon.css";
@import "./ui/styles/padding.css";
@import "./ui/styles/typography.css";

*,
*::after,
*::before {
  box-sizing: border-box;
}

*:focus {
  outline: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 100%;
  font-family: var(--font-stack);
  line-height: var(--font-leading);
  background-color: var(--color-body);
  background-image: var(--gradient-body);
  color: var(--color-primary);
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  box-sizing: content-box;
  vertical-align: middle;
}
