@import "~modern-normalize";
@import "styles";

*,
*::after,
*::before {
  box-sizing: border-box;
}

*:focus {
  outline: 0;
}

body {
  @include text-base;
  font-family: $font-stack;
  line-height: $font-leading;
  background-color: $color-body;
  background-image: $gradient-body;
  color: $color-primary;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  box-sizing: content-box;
  vertical-align: middle;
}
