@import "../../foundations/unit.css";

.grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(var(--unit-base) * -1);
  margin-right: calc(var(--unit-base) * -1);
}

.grid-item {
  margin-bottom: var(--unit-spacing);
  margin-left: var(--unit-base);
  margin-right: var(--unit-base);
}

.grid-item-third {
  flex-basis: calc(100% / 3 - var(--unit-spacing));
}

.grid-item-quarter {
  flex-basis: calc(100% / 4 - var(--unit-spacing));
}

.grid-item-fifth {
  flex-basis: calc(100% / 5 - var(--unit-spacing));
}
