@import "styles";

.icon-primary {
  fill: $color-primary;
}

.icon-secondary {
  fill: $color-secondary;
}

.icon-accent {
  fill: $color-accent;
}

.icon-light {
  fill: $color-light;
}

.icon-destructive {
  fill: $color-destructive;
}
