@import "styles";

/* TODO refactor to dropdown menu props */

.dropdown {
  position: relative;
}

.dropdown-narrow {
  height: 100%;
}

.dropdown-toggle {
  cursor: pointer;
}

.dropdown-toggle-chevron {
  margin-left: $unit-base;
}

.dropdown-narrow-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $unit-spacing;
  height: 100%;
  background-color: $color-primary;
  border-top-right-radius: $unit-medium;
  border-bottom-right-radius: $unit-medium;
}

.dropdown-menu {
  position: absolute;
  bottom: -$unit-base;
  transform: translateY(100%);
  background-color: $color-dark;
  border-radius: $unit-small;
  z-index: $z-index-dropdown;
}

.dropdown-menu-item {
  cursor: pointer;
  margin: 0;
  border: 0;
  background-color: transparent;
  color: $color-primary;
}

.dropdown-menu-vertical {
  width: $unit-base * 24;
  padding: $unit-base;
  display: flex;
  flex-direction: column;
  right: 0;
}

.dropdown-menu-vertical > .dropdown-menu-item {
  width: 100%;
  border-radius: $unit-small;
  padding: $unit-base;
  text-align: center;
}

.dropdown-menu-vertical > .dropdown-menu-item:hover {
  background-color: $color-accent;
  color: $color-dark;
}

.dropdown-menu-vertical > .dropdown-menu-item-destructive {
  margin-top: $unit-base;
}

.dropdown-menu-vertical > .dropdown-menu-item-destructive:hover {
  background-color: $color-destructive;
}

.dropdown-menu-rating {
  right: -$unit-spacing * 5;
  display: flex;
  border-radius: 12px;
  bottom: -$unit-spacing;
}

.dropdown-menu-rating::after {
  position: absolute;
  top: 0;
  right: 76px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: $unit-spacing;
  border-top-width: 0;
  border-color: transparent;
  border-bottom-color: $color-dark;
  transform: translateY(-100%);
  content: "";
}

.dropdown-menu-rating > .dropdown-menu-item {
  padding-top: $unit-spacing;
  padding-bottom: $unit-spacing;
  padding-left: $unit-small;
  padding-right: $unit-small;
}

.dropdown-menu-rating > .dropdown-menu-item:first-child {
  padding-left: $unit-spacing;
}

.dropdown-menu-rating > .dropdown-menu-item:last-child {
  padding-right: $unit-spacing;
}

.dropdown-platforms-toggle {
  display: flex;
  align-items: center;
}

.dropdown-platforms-menu {
  display: inline-flex;
  bottom: -$unit-small;
  left: -$unit-small;
  padding: $unit-small;
  flex-direction: column;
}

.dropdown-platforms-menu > button {
  @include text-small;
  width: $unit-base * 5;
  padding-top: $unit-small;
  padding-bottom: $unit-small;
  border-radius: $unit-small;
  background-color: $color-secondary;
}

.dropdown-platforms-menu > button.checked {
  background-color: $color-primary;
  color: $color-light;
}

.dropdown-platforms-menu > button + button {
  margin-top: $unit-small;
}

.dropdown-platforms-toggle-chevron {
  margin-left: $unit-small;
}
