@import "../../foundations/unit.css";
@import "../../foundations/color.css";
@import "../../foundations/z-index.css";
@import "../Card/card.css";

/* TODO refactor to dropdown menu props */
.dropdown {
  position: relative;
}

.dropdown-toggle-chevron {
  margin-left: var(--unit-small);
}

.dropdown-narrow-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--unit-base);
  height: var(--card-collection-cover-height);
  background-color: var(--color-primary);
  border-top-right-radius: var(--card-border-radius);
  border-bottom-right-radius: var(--card-border-radius);
}

.dropdown-narrow-toggle-chevron {
  fill: var(--color-secondary);
}

.dropdown-menu {
  position: absolute;
  bottom: calc(var(--unit-small) * -1);
  transform: translateY(100%);
  background-color: var(--color-dark);
  border-radius: calc(var(--unit-small) / 2);
  z-index: var(--z-index-dropdown);
}

.dropdown-menu-item {
  cursor: pointer;
  margin: 0;
  border: 0;
  background-color: transparent;
  color: var(--color-primary);
}

.dropdown-menu-vertical {
  width: calc(var(--unit-small) * 24);
  padding: var(--unit-small);
  display: flex;
  flex-direction: column;
  right: 0;
}

.dropdown-menu-vertical > .dropdown-menu-item {
  width: 100%;
  border-radius: calc(var(--unit-small) / 2);
  padding: var(--unit-small);
  text-align: center;
}

.dropdown-menu-vertical > .dropdown-menu-item:hover {
  background-color: var(--color-accent);
  color: var(--color-dark);
}

.dropdown-menu-vertical > .dropdown-menu-item-destructive {
  margin-top: var(--unit-small);
}

.dropdown-menu-vertical > .dropdown-menu-item-destructive:hover {
  background-color: var(--color-destructive);
}

.dropdown-menu-rating {
  right: calc(var(--unit-base) * -5);
  display: flex;
  border-radius: 12px;
  bottom: calc(var(--unit-base) * -1);
}

.dropdown-menu-rating::after {
  position: absolute;
  top: 0;
  right: 76px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: var(--unit-base);
  border-top-width: 0;
  border-color: transparent;
  border-bottom-color: var(--color-dark);
  transform: translateY(-100%);
  content: "";
}

.dropdown-menu-rating > .dropdown-menu-item {
  padding-top: var(--unit-base);
  padding-bottom: var(--unit-base);
  padding-left: calc(var(--unit-base) / 4);
  padding-right: calc(var(--unit-base) / 4);
}

.dropdown-menu-rating > .dropdown-menu-item:first-child {
  padding-left: var(--unit-base);
}

.dropdown-menu-rating > .dropdown-menu-item:last-child {
  padding-right: var(--unit-base);
}
