@import "../../../styles";

:root {
  --card-border-radius: calc(var(--unit-small) * 1.5);
  --card-search-cover-height: calc(var(--unit-base) * 21);
  --card-collection-cover-width: calc(var(--unit-small) * 11);
  --card-collection-cover-height: calc(var(--unit-small) * 15);
}

.card {
  position: relative;
  background-color: var(--color-secondary);
  border-radius: var(--card-border-radius);
}

.card-cover {
  position: relative;
  background-size: cover;
  background-position: center;
}

.card-search .card-cover {
  height: var(--card-search-cover-height);
  border-top-left-radius: var(--card-border-radius);
  border-top-right-radius: var(--card-border-radius);
}

.card-search .card-cover::before {
  border-top-left-radius: var(--card-border-radius);
  border-top-right-radius: var(--card-border-radius);
}

.card-collection > .flex > div > .flex {
  height: var(--card-collection-cover-height);
}

.card-collection > .flex > div:nth-of-type(2) {
  flex-grow: 1;
}

.card-collection .card-cover {
  height: var(--card-collection-cover-height);
  width: var(--card-collection-cover-width);
  padding: var(--unit-small);
  border-top-left-radius: var(--card-border-radius);
  border-bottom-left-radius: var(--card-border-radius);
}

.card-collection .card-cover::before {
  border-top-left-radius: var(--card-border-radius);
  border-bottom-right-radius: var(--card-border-radius);
}

.card-cover::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0) 36.35%
  );
  content: "";
}

.card-search .card-rating {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: var(--unit-base);
}

.card-title {
  @include text-lead;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--unit-base);
  overflow: hidden;
  text-align: center;
  color: var(--color-light);
}

.card-platforms {
  height: calc(100% - var(--unit-small));
  display: inline-flex;
  align-items: flex-end;
  margin-left: var(--unit-small);
}

.card-platforms > .flex {
  padding: calc(var(--unit-base) / 4);
  background-color: var(--color-dark);
  border-radius: calc(var(--unit-small) / 2);
}

.card-platforms > .flex > div + div {
  margin-top: calc(var(--unit-base) / 4);
}

.card-content {
  padding: var(--unit-base);
}
