@import "styles";

$card-search-cover-height: $unit-base * 42;
$card-collection-cover-width: $unit-base * 11;
$card-collection-cover-height: $unit-base * 15;

.card {
  position: relative;
  background-color: $color-secondary;
  border-radius: $unit-medium;
}

.card-cover {
  position: relative;
  background-size: cover;
  background-position: center;
}

.card-search .card-cover {
  height: $card-search-cover-height;
  border-top-left-radius: $unit-medium;
  border-top-right-radius: $unit-medium;
}

.card-search .card-cover::before {
  border-top-left-radius: $unit-medium;
  border-top-right-radius: $unit-medium;
}

.card-collection > .flex > div > .flex {
  height: $card-collection-cover-height;
}

.card-collection > .flex > div:nth-of-type(2) {
  flex-grow: 1;
}

.card-collection .card-cover {
  height: $card-collection-cover-height;
  width: $card-collection-cover-width;
  padding: $unit-base;
  border-top-left-radius: $unit-medium;
  border-bottom-left-radius: $unit-medium;
}

.card-collection .card-cover::before {
  border-top-left-radius: $unit-medium;
  border-bottom-right-radius: $unit-medium;
}

.card-cover::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0) 36.35%
  );
  content: "";
}

.card-search .card-rating {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: $unit-spacing;
}

.card-title {
  @include text-lead;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: $unit-spacing;
  overflow: hidden;
  text-align: center;
  color: $color-light;
}

.card-platforms {
  height: calc(100% - #{$unit-base});
  display: inline-flex;
  align-items: flex-end;
  margin-left: $unit-base;
}

.card-platforms > .flex {
  padding: $unit-small;
  background-color: $color-dark;
  border-radius: $unit-small;
}

.card-platforms > .flex > div + div {
  margin-top: $unit-small;
}

.card-content {
  padding: $unit-spacing;
}
