@import "modern-normalize";

*,
*::after,
*::before {
  box-sizing: border-box;
}

*:focus {
  outline: 0;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: "Lato", sans-serif;
  font-size: 100%;
  line-height: 1.15;
  background-color: #161930;
  background-image: radial-gradient(
    circle at bottom right,
    rgba(255, 0, 132, 0.05),
    transparent
  );
  color: #849cce;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  box-sizing: content-box;
  vertical-align: middle;
}
