@import "../../foundations/unit.css";
@import "../../foundations/color.css";

.button {
  position: relative;
  padding-top: var(--unit-base);
  padding-bottom: var(--unit-base);
  padding-right: var(--unit-spacing);
  padding-left: var(--unit-spacing);
  display: inline-flex;
  align-items: center;
  border: 1px solid transparent;
  border-radius: calc(var(--unit-base) / 2);
}

.button:hover {
  cursor: pointer;
}

.button-facebook {
  color: var(--color-light);
  background-color: var(--color-facebook);
}

.button-facebook-icon {
  fill: var(--color-light);
  margin-right: var(--unit-base);
}
