@import "styles";

/* TODO refactor to button props */

.button {
  position: relative;
  padding-top: $unit-base;
  padding-bottom: $unit-base;
  padding-right: $unit-spacing;
  padding-left: $unit-spacing;
  display: inline-flex;
  align-items: center;
  border: 1px solid transparent;
  border-radius: $unit-small;
  color: $color-light;
  background-color: $color-primary;
}

.button:hover {
  cursor: pointer;
}

.button-small {
  @include text-small;
  width: $unit-base * 5;
  padding-top: $unit-small;
  padding-bottom: $unit-small;
  padding-left: 0;
  padding-right: 0;
  justify-content: center;
  text-transform: uppercase;
}

.button-inactive {
  background-color: $color-secondary;
  color: $color-primary;
}

.button-outline {
  background-color: transparent;
  color: $color-primary;
  border: 1px solid $color-primary;
}

.button-facebook {
  color: $color-light;
  background-color: $color-facebook;
}

.button-facebook-icon {
  margin-right: $unit-base;
}

.button-dropdown {
  width: 100%;
  justify-content: center;
}

.button-dropdown-icon {
  position: absolute;
  top: 50%;
  right: $unit-spacing;
  transform: translateY(-60%);
}
