@import "styles";

.search-bar {
  position: relative;
  flex-basis: $unit-base * 68;
  margin-left: $unit-spacing;
  margin-right: $unit-spacing;
}

.search-bar-input {
  @include text-large;
  width: 100%;
  padding-top: $unit-base;
  padding-bottom: $unit-base;
  padding-right: $unit-base * 7;
  padding-left: $unit-spacing;
  border-radius: $unit-base;
  border: 0;
  background-color: $color-secondary;
  color: $color-primary;
  line-height: 1.5;
}

.search-bar-submit {
  position: absolute;
  display: flex;
  top: 50%;
  transform: translateY(-50%);
  right: $unit-spacing;
  cursor: pointer;
}
