@import "../../foundations/unit.css";
@import "../../foundations/color.css";

.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: calc(var(--unit-spacing) * 3);
  text-transform: capitalize;
}

.tab-item {
  padding: var(--unit-base);
  margin-left: var(--unit-spacing);
  margin-right: var(--unit-spacing);
  border-radius: 4px;
  cursor: pointer;
}

.tab-item-active {
  background-color: var(--color-accent);
  color: var(--color-body);
}
