@import "styles";

.tabs {
  @include text-lead;
  display: flex;
  justify-content: center;
  margin-bottom: $unit-base * 6;
  text-transform: capitalize;
}

.tab-item {
  padding: $unit-base;
  margin-left: $unit-spacing;
  margin-right: $unit-spacing;
  border-radius: $unit-small;
  cursor: pointer;
}

@media (max-width: $breakpoint-tablet) {
  .tab-item {
    margin-left: $unit-base;
    margin-right: $unit-base;
  }
}

.tab-item-active {
  background-color: $color-accent;
  color: $color-body;
}
