@import "styles";

.tabs {
  @include text-lead;
  display: flex;
  justify-content: center;
  margin-bottom: calc(var(--unit-base) * 3);
  text-transform: capitalize;
}

.tab-item {
  padding: var(--unit-small);
  margin-left: var(--unit-base);
  margin-right: var(--unit-base);
  border-radius: calc(var(--unit-small) / 2);
  cursor: pointer;
}

.tab-item-active {
  background-color: var(--color-accent);
  color: var(--color-body);
}
