@import "styles";

.rating {
  @include text-lead;
  height: 27px;
  display: flex;
  align-items: center;
  color: $color-accent;
  text-transform: uppercase;
}

.rating-star-icon {
  margin-left: $unit-base;
}

.rating-unrate {
  color: $color-destructive;
}
