@import "../../styles/color";
@import "../../styles/unit";

.score {
  display: flex;
  align-items: center;
}

.score-value {
  color: var(--color-light);
  margin-right: var(--unit-small);
}

.score-votes {
  color: var(--color-light);
  margin-top: 2px;
}

.score-star-icon {
  fill: var(--color-light);
  margin-right: var(--unit-small);
}

.score-user-icon {
  fill: var(--color-light);
  width: 10px;
  height: 10px;
  margin-right: 2px;
}
