@import "styles";

.score {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.score-value {
  @include text-lead;
  color: $color-light;
  margin-right: $unit-base;
}

.score-votes {
  @include text-small;
  color: $color-light;
  margin-top: 2px;
}

.score-star-icon {
  margin-right: $unit-base;
}

.score-user-icon {
  width: 10px;
  height: 10px;
  margin-right: 2px;
}
