@import "styles";

.grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -$unit-base;
  margin-right: -$unit-base;
}

.grid > .grid-item {
  margin-bottom: $unit-spacing;
  margin-left: $unit-base;
  margin-right: $unit-base;
}

.grid-item-third {
  flex-basis: calc(100% / 3 - #{$unit-spacing});
}

.grid-item-quarter {
  flex-basis: calc(100% / 4 - #{$unit-spacing});
}

.grid-item-fifth {
  flex-basis: calc(100% / 5 - #{$unit-spacing});
}
