@import "styles";

.grid {
  display: grid;
  grid-column-gap: $unit-spacing;
  grid-row-gap: $unit-spacing;
}

.grid-thirds {
  grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: $breakpoint-laptop) {
  .grid-thirds {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: $breakpoint-tablet) {
  .grid-thirds {
    grid-template-columns: 1fr;
  }
}

.grid-fifths {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

@media (max-width: $breakpoint-laptop) {
  .grid-fifths {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: $breakpoint-tablet) {
  .grid-fifths {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: $breakpoint-mobile) {
  .grid-fifths {
    grid-template-columns: 1fr;
  }
}
